.contact-form {
  display: block;
  justify-content: center;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
}
.input {
  width: 450px;
}
.input-message {
  width: 450px;
  height: 150px;
}
.contact-form-send {
  display: flex;
  justify-content: center;
}
