// Specific CSS for your home-page
.banner {
  width: 100%;
  display: block;
  padding: 0px 140px;
}
.banner-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.banner-image {
  width: 200px;
  border-radius: 10px;
}
.home-container {
  margin-top: 50px;
  display: block;
  text-align: center;
}
.highlighted-blue {
  color: blue;
  background: #A0D0E8;
  font-family: CircularStd-Black;
}
h1 {
    margin: 0 auto 24px;
    font-size: 40px;
    font-family: CircularStd-Black;
}
a:hover {
  text-decoration: none;
}
.home-presentation p {
  text-align: justify;
  color: #707070;
  font-size: 13px;
}
.presentation p{
  font-family: lato;
  color: #707070;
}
.presentation h5{
  font-family: lato;
  color: #707070;
}


