<div class="footer" style="display: block; text-align: center;">
  <p style="font-size: 12px; font-style: italic; margin-top: 50px;"><i class="far fa-copyright" style="font-size: 12px; color: black;"></i> Les images de ce site sont protégées par le droit d'auteur</p>
  <div class="footer-2" style="display: flex; justify-content: center; margin-top: 10px;">
    <a class="tumblr" href="https://hubertdetarle.tumblr.com/" target="blank">
      <i class="fab fa-tumblr-square" style="margin: 10px 30px; color: grey; font-size: 30px;"></i>
    </a>

    <a class="instagram" href="https://www.instagram.com/hubertdetarle/" target="blank">
      <i class="fab fa-instagram" style="margin: 10px 30px; color: grey; font-size: 30px;"></i>
    </a>

    <a class="linkedin" href="linkedin.com" target="blank">
      <i class="fab fa-linkedin" style="margin: 10px 30px; color: grey; font-size: 30px;"></i>
    </a>
  </div>
  <div style="height: 50px;">
  </div>
</div>
