<div class="container" style="display: block; justify-content: center;">
  <div style="display: flex; margin-top: 30px;">
    <div class="presentation">
      <img src="../assets/hubert" style="width: 500px; border-radius: 15px;" alt="Photo d'Hubert">
    </div>
    <div class="home-presentation"  style="margin-left: 20px;">
      <h5 style="text-align: center">About Me</h5>
      <br>
      <p>Hello, I'm Mark Conlan.</p>
      <p>I am a multi disciplined Illustrator from Dublin, Ireland. I am currently working and living in Melbourne.</p>
      <p>I develop conceptual based illustration for products, editorial, publishing, advertising campaigns and one off commissions for clients all around the world.</p>
      <p>My style focuses on a strong use of character and composition empowered by whimsical and emotional situations. Incorporating rich and vibrant colour palettes, my aim is to produce atmospheric imagery that surpasses the brief. You will often see little happy characters or an array of plants and foliage making an appearance throughout my work</p>
      <p>My style focuses on a strong use of character and composition empowered by whimsical and emotional situations. Incorporating rich and vibrant colour palettes, my aim is to produce atmospheric imagery that surpasses the brief. You will often see little happy characters or an array of plants and foliage making an appearance throughout my work</p>
      <br>
      <p style="text-align: center;"><strong>Contact me → hubert.de.tarle@gmail.com</strong></p>
    </div>
  </div>
  <div class="home-presentation" style="padding: 0px 200px; margin-top: 30px; margin-bottom: 50px;">
    <h5 style="text-align: center;">Mon parcours</h5>
    <p>My style focuses on a strong use of character and composition empowered by whimsical and emotional situations. Incorporating rich and vibrant colour palettes, my aim is to produce atmospheric imagery that surpasses the brief. You will often see little happy characters or an array of plants and foliage making an appearance throughout my work</p>
    <br>
    <p>My style focuses on a strong use of character and composition empowered by whimsical and emotional situations. Incorporating rich and vibrant colour palettes, my aim is to produce atmospheric imagery that surpasses the brief. You will often see little happy characters or an array of plants and foliage making an appearance throughout my work</p>
  </div>
  <div class="banner">
    <div class="banner-line">
      <div>
        <img class="banner-image" src="../assets/birb1" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb2" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb3" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb4" alt="Illustration d'oiseau">
      </div>
    </div>
    <div class="banner-line">
      <div>
        <img class="banner-image" src="../assets/birb5" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb6" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb7" alt="Illustration d'oiseau">
      </div>
      <div>
        <img class="banner-image" src="../assets/birb8" alt="Illustration d'oiseau">
      </div>
    </div>
  </div>
    <div class="home-presentation" style="padding: 0px 200px; margin-top: 30px; margin-bottom: 50px;">
    <h5 style="text-align: center;">Rentrer en contact</h5>
    <p>Please feel free to get in touch with me for commissions or even if you would like to have a chat.</p>
    <p>Contact me → <strong>hubert.de.tarle@gmail.com</strong></p>
  </div>
</div>
