<div class="container">
  <div style="text-align: center; margin-top: 50px;">
    <h3>Merci pour votre message !</h3>
    <h5>Je reviens vers vous dès que possible</h5>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <img src="../assets/flamand.jpg" alt="" style="width: 300px">
  </div>
</div>
